<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('parts/mainGeneral', { title: 'Página Inicial'}) %>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <section>

        </section>
        <section>
            <h1>Ola mundo</h1>
            <a href="/add">Cadastrar</a>
        </section>
        <section>

        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>