<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('parts/headGeneral', { title: 'Cadastrar', css: 'register'}) %>
</head>
<body>
    <%- include('parts/headerGeneral', { title: 'Cadastrar', css: 'register'}) %>
    <main>
        <section>
            <h1>Olá 
                <% if( typeof user !== 'undefined' ) {%>
                    <%= user %>
                <% }%>
            </h1>
        </section>
        <section>
            
        </section>
        <section>

        </section>
    </main>
    <%- include('parts/footerGeneral') %>
</body>
</html>