<footer>
    <div class="div-content-footer">
        <div class="div-footer-icon"><p>Simple Crud - Desenvolvido por Luan Oliveira - 2021</p></div>
        <div class="div-footer-icon"><a href="https://github.com/Luanpablo100"><span>Github</span><img src="/img/github.svg" alt="Github logo" class="footer-icon"></a></div>
        <div class="div-footer-icon"><a href=""><span>Linkedin</span><img src="" alt="" class="footer-icon"></a></div>
        <div class="div-footer-icon"><a href="mailto:lpablo611@gmail.com"><span>E-mail</span><img src="/img/gmail.svg" alt="Gmail logo" class="footer-icon"></a></div>
    </div>
</footer>