<header>
    <nav>
        <div class="nav-logo">
            <h2>Crud</h2>
            <!-- <img src="" alt=""> -->
        </div>
        <ul>
            <li><a href="/">Páginal Inicial</a></li>
            <li><a href="/add">Cadastrar</a></li>
            <li><a href=""></a></li>
            <li><a href="/profile">Perfil</a></li>
        </ul>
    </nav>
</header>