* {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #191622;
}

nav {
    width: 100vw;
    height: 50px;
    border-bottom: 2px #FF79C6 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    margin-right: 15px;
    list-style: none;
}

nav ul a {
    margin-left: 10px;
    position: relative;
    color: #fff;
    text-decoration: none;  
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF79C6;
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
